#include "resource.h"
#include "afxres.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL


IDD_DIALOG_CHANNEL DIALOGEX 0, 0, 320, 360
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Channel"
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",IDC_STATIC_CH_HINT,12,10,296,24
    CONTROL         "",IDC_TREE_CHANNEL,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_CHECKBOXES | WS_BORDER | WS_TABSTOP,12,38,296,260
    PUSHBUTTON      "All",IDC_BTN_CH_ALL,12,308,72,22
    PUSHBUTTON      "None",IDC_BTN_CH_NONE,92,308,72,22
    DEFPUSHBUTTON   "OK",IDOK,148,308,72,22
    PUSHBUTTON      "Cancel",IDCANCEL,228,308,80,22
END
