#include "resource.h"
#include "afxres.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDD_DIALOG_SPEC DIALOGEX 0, 0, 600, 540
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Spec"
FONT 8, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_TAB_SPEC,"SysTabControl32",TCS_BUTTONS | WS_TABSTOP,12,8,576,24
    LTEXT           "INI",IDC_STATIC_SPEC_TITLE,20,38,48,12
    LTEXT           "",IDC_STATIC_SPEC_PATH,72,36,516,14,SS_NOPREFIX | SS_LEFT
    GROUPBOX        "[timing]",IDC_GRP_SPEC_TIMING,12,56,576,46
    LTEXT           "DelayMs",IDC_LBL_SPEC_DELAY,24,76,72,12
    EDITTEXT        IDC_EDIT_SPEC_DELAY,100,74,80,18,ES_AUTOHSCROLL
    GROUPBOX        "[limits]",IDC_GRP_SPEC_LIMITS,12,108,576,92
    LTEXT           "Min fps",IDC_LBL_DEF1,24,128,80,12
    EDITTEXT        IDC_EDIT_SPEC_DEF_MINSSR,108,126,68,20,ES_AUTOHSCROLL
    LTEXT           "Max fps",IDC_LBL_DEF2,184,128,80,12
    EDITTEXT        IDC_EDIT_SPEC_DEF_MAXSSR,268,126,68,20,ES_AUTOHSCROLL
    LTEXT           "Min mA",IDC_LBL_DEF3,344,128,72,12
    EDITTEXT        IDC_EDIT_SPEC_DEF_MINCUR,420,126,68,20,ES_AUTOHSCROLL
    LTEXT           "Max mA",IDC_LBL_DEF4,24,160,72,12
    EDITTEXT        IDC_EDIT_SPEC_DEF_MAXCUR,100,158,68,20,ES_AUTOHSCROLL
    LTEXT           "Min C",IDC_LBL_DEF5,176,160,72,12
    EDITTEXT        IDC_EDIT_SPEC_DEF_MINTEMP,252,158,68,20,ES_AUTOHSCROLL
    LTEXT           "Max C",IDC_LBL_DEF6,328,160,72,12
    EDITTEXT        IDC_EDIT_SPEC_DEF_MAXTEMP,404,158,68,20,ES_AUTOHSCROLL
    GROUPBOX        "[sensor_temp_i2c]",IDC_GRP_SPEC_TEMP_I2C,12,206,576,148
    CONTROL         "Enable",IDC_CHK_SPEC_TEMP_EN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,24,224,140,12
    LTEXT           "Addr",IDC_LBL_TEMP_ADDR,24,246,40,12
    EDITTEXT        IDC_EDIT_SPEC_TEMP_ADDR,68,244,52,20,ES_AUTOHSCROLL
    LTEXT           "Mode",IDC_LBL_TEMP_MODE,128,246,36,12
    EDITTEXT        IDC_EDIT_SPEC_TEMP_MODE,168,244,36,20,ES_AUTOHSCROLL
    LTEXT           "RegLo",IDC_LBL_TEMP_REGLO,212,246,40,12
    EDITTEXT        IDC_EDIT_SPEC_TEMP_REGLO,256,244,60,20,ES_AUTOHSCROLL
    LTEXT           "RegHi",IDC_LBL_TEMP_REGHI,324,246,40,12
    EDITTEXT        IDC_EDIT_SPEC_TEMP_REGHI,368,244,60,20,ES_AUTOHSCROLL
    LTEXT           "C0",IDC_LBL_TEMP_COEFFLO,436,246,24,12
    EDITTEXT        IDC_EDIT_SPEC_TEMP_COEFFLO,464,244,52,20,ES_AUTOHSCROLL
    LTEXT           "C1",IDC_LBL_TEMP_COEFFHI,24,274,24,12
    EDITTEXT        IDC_EDIT_SPEC_TEMP_COEFFHI,52,272,52,20,ES_AUTOHSCROLL
    LTEXT           "Div",IDC_LBL_TEMP_DIV,112,274,28,12
    EDITTEXT        IDC_EDIT_SPEC_TEMP_DIV,144,272,52,20,ES_AUTOHSCROLL
    LTEXT           "Off",IDC_LBL_TEMP_OFFSET,204,274,28,12
    EDITTEXT        IDC_EDIT_SPEC_TEMP_OFFSET,236,272,52,20,ES_AUTOHSCROLL
    LTEXT           "Formula",IDC_STATIC_SPEC_FORMULA,24,300,552,32,SS_NOPREFIX
    LTEXT           "Hint",IDC_STATIC_SPEC_HINT,20,336,560,16,SS_NOPREFIX
    GROUPBOX        "[bad_pixel_dark]",IDC_GRP_SPEC_BADPIXEL,12,52,576,468,NOT WS_VISIBLE
    CONTROL         "Enable",IDC_CHK_SPEC_BP_EN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,24,68,280,12,NOT WS_VISIBLE
    LTEXT           "Algo",IDC_LBL_BP_ALGO,24,86,40,12,NOT WS_VISIBLE
    CONTROL         "Neighbor",IDC_RAD_BP_ALGO_NEIGHBOR,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,72,84,140,12,NOT WS_VISIBLE
    CONTROL         "Huawei",IDC_RAD_BP_ALGO_HUAWEI,"Button",BS_AUTORADIOBUTTON,228,84,160,12,NOT WS_VISIBLE
    GROUPBOX        "Huawei",IDC_GRP_BP_HUAWEI,24,102,552,108,NOT WS_VISIBLE
    LTEXT           "ClusterTh",IDC_LBL_BP_CLUSTER_TH,36,122,88,12,NOT WS_VISIBLE
    EDITTEXT        IDC_EDIT_SPEC_BP_CLUSTER_TH,128,120,52,20,ES_AUTOHSCROLL | NOT WS_VISIBLE
    LTEXT           "ClusterMin",IDC_LBL_BP_CLUSTER_MIN,192,122,88,12,NOT WS_VISIBLE
    EDITTEXT        IDC_EDIT_SPEC_BP_CLUSTER_MIN,284,120,52,20,ES_AUTOHSCROLL | NOT WS_VISIBLE
    LTEXT           "SinglePpm",IDC_LBL_BP_SINGLE_PPM,36,148,88,12,NOT WS_VISIBLE
    EDITTEXT        IDC_EDIT_SPEC_BP_SINGLE_PPM,128,146,52,20,ES_AUTOHSCROLL | NOT WS_VISIBLE
    CONTROL         "GrGbToG",IDC_CHK_SPEC_BP_GRGBTOG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,192,146,200,12,NOT WS_VISIBLE
    LTEXT           "MaxCluster",IDC_LBL_BP_MAX,36,174,88,12,NOT WS_VISIBLE
    EDITTEXT        IDC_EDIT_SPEC_BP_MAX,128,172,52,20,ES_AUTOHSCROLL | NOT WS_VISIBLE
    LTEXT           "HotDelta",IDC_LBL_BP_HOTDELTA,192,174,88,12,NOT WS_VISIBLE
    EDITTEXT        IDC_EDIT_SPEC_BP_HOTDELTA,284,172,52,20,ES_AUTOHSCROLL | NOT WS_VISIBLE
    GROUPBOX        "Neighbor",IDC_GRP_BP_NEIGHBOR,24,216,552,74,NOT WS_VISIBLE
    LTEXT           "HotAbsMin",IDC_LBL_BP_HOTABS,36,236,88,12,NOT WS_VISIBLE
    EDITTEXT        IDC_EDIT_SPEC_BP_HOTABS,128,234,52,20,ES_AUTOHSCROLL | NOT WS_VISIBLE
    LTEXT           "BorderPx",IDC_LBL_BP_BORDER,192,236,88,12,NOT WS_VISIBLE
    EDITTEXT        IDC_EDIT_SPEC_BP_BORDER,284,234,52,20,ES_AUTOHSCROLL | NOT WS_VISIBLE
    CONTROL         "EnableSave",IDC_CHK_SPEC_BP_SAVE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,24,294,380,18,NOT WS_VISIBLE
    GROUPBOX        "SnapFiles",IDC_GRP_BP_SNAP_FILES,24,316,552,112,NOT WS_VISIBLE
    CONTROL         "Bmp",IDC_CHK_SPEC_BP_SAVE_BMP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,40,338,512,22,NOT WS_VISIBLE
    CONTROL         "Packed",IDC_CHK_SPEC_BP_SAVE_PACKED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,40,364,512,22,NOT WS_VISIBLE
    CONTROL         "U12",IDC_CHK_SPEC_BP_SAVE_U12,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,40,390,512,22,NOT WS_VISIBLE
    CONTROL         "U10",IDC_CHK_SPEC_BP_SAVE_U10,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,40,416,512,22,NOT WS_VISIBLE
    LTEXT           "SaveDir",IDC_LBL_BP_DIR,24,436,56,12,NOT WS_VISIBLE
    EDITTEXT        IDC_EDIT_SPEC_BP_DIR,84,434,420,20,ES_AUTOHSCROLL | NOT WS_VISIBLE
    PUSHBUTTON      "Browse",IDC_BTN_SPEC_BP_BROWSE,510,432,64,22,NOT WS_VISIBLE
    LTEXT           "BpHint",IDC_STATIC_SPEC_BP_HINT,24,460,552,32,SS_NOPREFIX | NOT WS_VISIBLE
    GROUPBOX        "Firmware",IDC_GRP_RESERVED2,12,56,576,380,NOT WS_VISIBLE
    CONTROL         "FwEn",IDC_CHK_SPEC_FW_EN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,28,80,520,18,NOT WS_VISIBLE
    LTEXT           "Fov",IDC_LBL_SPEC_FW_FOV,28,108,88,12,NOT WS_VISIBLE
    COMBOBOX        IDC_COMBO_SPEC_FW_FOV,120,106,400,200,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | NOT WS_VISIBLE
    LTEXT           "Warmup",IDC_LBL_SPEC_FW_WARMUP,28,136,88,12,NOT WS_VISIBLE
    EDITTEXT        IDC_EDIT_SPEC_FW_WARMUP,120,134,80,20,ES_AUTOHSCROLL | NOT WS_VISIBLE
    LTEXT           "Path",IDC_LBL_SPEC_FW_PATH,28,164,88,12,NOT WS_VISIBLE
    LTEXT           "PathVal",IDC_STATIC_SPEC_FW_PATH,120,162,472,12,SS_NOPREFIX | NOT WS_VISIBLE
    LTEXT           "GrabIni",IDC_LBL_SPEC_FW_GRAB_INI,28,188,88,12,NOT WS_VISIBLE
    EDITTEXT        IDC_EDIT_SPEC_FW_GRAB_INI,120,186,408,20,ES_AUTOHSCROLL | NOT WS_VISIBLE
    PUSHBUTTON      "BrowseGrab",IDC_BTN_SPEC_FW_GRAB_BROWSE,534,184,64,22,NOT WS_VISIBLE
    LTEXT           "FwHint",IDC_STATIC_SPEC_FW_HINT,28,216,552,48,SS_NOPREFIX | NOT WS_VISIBLE
    DEFPUSHBUTTON   "OK",IDOK,400,498,88,28,WS_GROUP
    PUSHBUTTON      "Cancel",IDCANCEL,496,498,88,28
END
